html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.display-header {
    padding: 20px;
}

.numberCircle {
    display:inline-block;

    border-radius:50%;
    border:2px solid;

    font-size:32px;
}

.numberCircle:before,
.numberCircle:after {
    content:'\200B';
    display:inline-block;
    line-height:0px;

    padding-top:50%;
    padding-bottom:50%;
}

.numberCircle:before {
    padding-left:8px;
}
.numberCircle:after {
    padding-right:8px;
}

#file-selector {
    display:none;
}
.panel-content {
    min-height: 50% !important;
}
.panel-pre {
    white-space : pre;
}
.panel-footer-white {
    background:white;
}
/*
.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}
*/
.filename {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background: rgb(245, 245, 245);
    border : 0px;
    cursor : default;
}
.error-footer {
    color: rgb(169, 68, 66);
    background-color: rgb(242, 222, 222);
}

.agent-rect { fill: #ccc;
              stroke-width:1;
              stroke: #000;
              fill-opacity:0.5;
}

.agent-text {
/*       fill : black; */
}

.agent-proof {
       /* fill : black; */
}