html { position: relative;
       min-height: 100%; }

body { margin-bottom: 60px; }


span.filler:empty:before {
}

.plot-axis path,
.plot-axis line { fill: none;
                  stroke: #000;
                  shape-rendering: crispEdges; }
.plot-line { fill: none;
             stroke: steelblue;
             stroke-width: 1.5px; }
.plot-legend { font-size: 10px; }

rect { stroke-width: 2; }


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.display-header {
    padding: 20px;
}

.numberCircle {
    display:inline-block;

    border-radius:50%;
    border:2px solid;

    font-size:32px;
}

.numberCircle:before,
.numberCircle:after {
    display:inline-block;
    line-height:0px;

    padding-top:50%;
    padding-bottom:50%;
}

.numberCircle:before {
    padding-left:8px;
}
.numberCircle:after {
    padding-right:8px;
}

#file-selector {
    display:none;
}
.panel-controls {
    height: 120px;
}
.panel-message {
    height: 40px;
    min-height:40px;
}
.panel-content {
    min-height: 50% !important;
}
.panel-pre {
    white-space : pre;
}
.panel-footer-white {
    background:white;
}
.filename {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background: rgb(245, 245, 245);
    border : 0px;
    cursor : default;
}
.error-footer {
    color: rgb(169, 68, 66);
    background-color: rgb(242, 222, 222);
}

.warning-footer {
    color: rgb(138, 109, 59);
    background-color: rgb(252, 248, 227);
}

.node-rect { stroke-width:2;
             stroke: #000;
             fill-opacity:0.5;
             stroke-width : 2;
}
.node-text { font: 10px sans-serif; }
.node-proof {
              opacity : 0.0;
}
.site-rect {  stroke-width:1;
              stroke: #000;
}
.site-text { font: 8x sans-serif; }

.node-proof { opacity : 0.0;
            }

.link-proof { fill: red;
              opacity : 0.0; }

.site-proof { fill: blue;
              opacity : 0.0; }
.link-line { stroke : black;
             stroke-width : 2;
	     fill: none;
}


.contact_map_content {
    min-height: 50%;
}

.snapshot_control {
    margin-top: 10px;
}

.checkbox-control {
    vertical-align: bottom;
    margin: 1px !important;
}

.CodeMirror {
    border: 1px solid #eee;
    min-height: 40px;

    height: calc(100% - 350px);
    height: -webkit-calc(100% - 350px);
    height: -moz-calc(100vh - 430px);

}

.plot-legend-swatch { stroke-width : 1; }
.plot-tick-proof { }
.contact-tooltip { position: fixed;
                   z-index: 10; padding: 2px;
                   border-style: solid;
                   border-width: 2px;
                   border-radius : 4px;
                   opacity : 0.8; }