.gitignore	export-ignore
.gitattributes	export-ignore
.travis.yml	export-ignore
simulation/version.ml	export-subst
ide/Info.plist.skel	export-subst
man/version.tex.skel	export-subst
META.skel	export-subst
