*.cm*
*.o
*.annot
KaSim.docdir
KaSim.native
KaSim.byte
KaSim
KaSa.native
KaSa.byte
KaSa
bin/
*~
_build/
._d/
._ncdi/

# test suite
models/cflows/*/output/*.diff
models/cflows/*/output/*.dot
models/cflows/*/output/*.dat
models/cflows/*/output/data.out
models/cflows/*/output/LOG
models/cflows/*/output/error.log
models/cflows/*/error
models/cflows/error
profiling.txt
