*.cm*
*.o
*.annot
KaSim.docdir
KaSim.native
KaSim.byte
KaSim
*~
_build/
._d/
._ncdi/
grammar/kappaParser.ml
grammar/kappaParser.mli
grammar/kappaLexer.ml

# test suite
models/cflows/*/tmp/
models/cflows/*/error
profiling.txt
