build
js/external
todo.org
*~
_build/
bin
/build/
.merlin
._d/
._ncdi/


# doc
*.log
*.aux
*.out
man/KaSim_manual.pdf
man/KaSim_manual.bbl
man/KaSim_manual.blg
man/KaSim_manual.idx
man/KaSim_manual.lot
man/KaSim_manual.toc
*.witness
man/zzKaSim_manual.ps
man/generated_img/

# test suite
# TODO: should we remove these for tests/integration ones?
models/test_suite/*/*/output/*.xml
models/test_suite/*/*/output/*.html
models/test_suite/*/*/output/*.diff
models/test_suite/*/*/output/*.dot
models/test_suite/*/*/output/*.dat
models/test_suite/*/*/output/*.ka
models/test_suite/*/*/output/*.json
models/test_suite/*/*/output/*.m
models/test_suite/*/*/output/ode.m
models/test_suite/*/*/output/data.csv
models/test_suite/*/*/output/data.tsv
models/test_suite/*/*/output/data.svg
models/test_suite/*/*/output/LOG
models/test_suite/simulation/*/output/stream.txt
models/test_suite/*/*/output/example
models/test_suite/*/*/output/error.log
models/test_suite/*/*/error
models/test_suite/error
models/test_suite/*/*/output/profiling.txt
models/test_suite/*/*/output/profiling.html
models/test_suite/*/*/output/compression_status.txt
/tests/integration/error
/tests/integration/*/*/error
# Ignore all test outputs except the reference files.
/tests/integration/*/*/output/*
!/tests/integration/*/*/output/*.ref

tests/integration/*/*/output/*.xml
tests/integration/*/*/output/*.html
tests/integration/*/*/output/*.diff
tests/integration/*/*/output/*.dot
tests/integration/*/*/output/*.dat
tests/integration/*/*/output/*.ka
tests/integration/*/*/output/*.json
tests/integration/*/*/output/*.m
tests/integration/*/*/output/ode.m
tests/integration/*/*/output/ode.mws
tests/integration/*/*/output/ode.nb
tests/integration/*/*/output/data.csv
tests/integration/*/*/output/data.tsv
tests/integration/*/*/output/data.svg
tests/integration/*/*/output/LOG
tests/integration/simulation/*/output/stream.txt
tests/integration/*/*/output/example
tests/integration/*/*/output/error.log
tests/integration/*/*/error
tests/integration/error
tests/integration/*/*/output/profiling.txt
tests/integration/*/*/output/profiling.html
tests/integration/*/*/output/compression_status.txt
tests/integration/*/*/output/network.net
tests/integration/*/*/output/data_2.csv

# generated code
*.install

# python
*.pyc
dist/
*.egg-info
.idea

# eclipse
.project

\#*#
.\#*

# MacOS
.DS_Store

# manual build
man/KaSim_manual.ilg
man/KaSim_manual.ind
man/scripts/inputs~0.ka
man/scripts/ode.m
