.error-span { display: inline; }
.alert-sm { padding: 5px !important;
	    margin-bottom: 0px; }
html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
}

.flex-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    min-width:50%;
    /* for Firefox */
    min-height: 0;
}

.tab-pane.row.active {
    display: flex;
    flex-direction: row;
}

.tab-pane.active {
    display: flex;
}

.kappa-code {
    white-space : pre-wrap;
    word-break: break-all;
    font-family: monospace;
}

.clickable { cursor: pointer; cursor: hand; }

.plot-axis path,
.plot-axis line { fill: none;
                  stroke: #000;
                  shape-rendering: crispEdges; }
.plot-line { fill: none;
             stroke: steelblue;
             stroke-width: 1.5px; }
.plot-legend { font-size: 10px; }

rect { stroke-width: 2; }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.display-header {
    padding: 20px;
}

.numberCircle {
    display:inline-block;

    border-radius:50%;
    border:2px solid;

    font-size:32px;
}

.numberCircle:before,
.numberCircle:after {
    display:inline-block;
    line-height:0px;

    padding-top:50%;
    padding-bottom:50%;
}

.numberCircle:before {
    padding-left:8px;
}
.numberCircle:after {
    padding-right:8px;
}

#file-selector {
    display:none;
}
.panel-controls {
    height: 100px;
}
.panel-message {
    height: 40px;
    min-height:40px;
}
.panel-content {
    min-height: 15% !important;
}
.panel-pre {
    white-space : pre-wrap;
    word-break: break-all;
}
.panel-scroll {
    overflow: auto;
}
.filename {
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border : 0px;
}

.oneliner {
    overflow: hidden;
    text-overflow: ellipsis;
}

.node-rect { stroke-width:2;
             stroke: #000;
             fill-opacity:0.5;
             stroke-width : 2;
}
.node-text { font: 10px sans-serif; }
.node-proof {
              opacity : 0.0;
}
.site-rect {  stroke-width:1;
              stroke: #000;
}
.site-text { font: 8x sans-serif; }

.node-proof { opacity : 0.0;
            }

.link-proof { fill: red;
              opacity : 0.0; }

.site-proof { fill: blue;
              opacity : 0.0; }
.link-line { stroke : black;
             stroke-width : 2;
	     fill: none;
}


.contact_map_content {
    min-height: 50%;
}

.snapshot_control {
    margin-top: 10px;
}

.checkbox-control {
    vertical-align: bottom;
    margin: 1px !important;
}

.CodeMirror {
    border: 1px solid #eee;
    min-height: 40px;
    flex: 1;
    overflow: hidden;
    min-height: 0;
}

.plot-legend-swatch { stroke-width : 1; }
.plot-tick-proof { }
.contact-tooltip { position: fixed;
                   z-index: 10; padding: 2px;
                   border-style: solid;
                   border-width: 2px;
                   border-radius : 4px;
                   opacity : 0.8; }


.link {
  stroke: steelblue;
  stroke-opacity: 0.4;
  stroke-width:2;
  fill: none;
}

.node { cursor: pointer; }

.offset {
  transition: stroke-dashoffset 3000ms ease;
  stroke-dashoffset: 100%;
}

.toolbox {
  position: absolute;
  bottom: 0;
  right : 0;
  text-align:right;
  padding-right:10px;
}

.stateButton {
    background-color: rgba(182, 255, 165, 0.5);
    border: 1px solid #4CAF50;
    border-radius:6px;
    color: #333;
    cursor:pointer;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline:none;
    margin-top:10px;
    margin-right:10px;
}

.stateButton:hover {
  background-color: rgb(182,255,165);
}


#cycleCheckbox + label {
  margin-left:5px;
  margin-right:5px;
}

#toggleLines + label {
  margin-left:5px;
}

#toggleLines[disabled] + label {
  color: #ccc;
}

#contact-map-display {
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font: 14px helvetica, arial, sans-serif;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 0%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

form {
    margin-left: 10px;
}

.nodeTextArc {
    fill: none;
    stroke: transparent;
}
.snap-tooltip {
    position: absolute;			
    text-align: right;		
    white-space: pre;
    bottom: 0;
    right: 0;
    pointer-events: none;	
}

.tooltip {
    position: absolute;
    top: 0;
    right: 0;
    white-space: pre;
    text-align: right;
    background-color: white;
    pointer-events: none;	
}

#plot-display {
    min-height:auto !important;
    flex:1
}

.show {
    display:flex !important;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

#plot-legend-div {
    margin-top: 5px;
    margin-bottom: 5px;
}

#snap-form {
    margin-bottom: 0.5em;
}

.render-container {
    display: flex;
    flex-direction: row;
}

.snapshot-container {
    flex: 3;
}

.snapshot-legend {
    flex: 1;
    overflow:auto;
}

.treeSpecies {
    fill-opacity: 1;
}

.treeSpecies-hidden {
    fill-opacity: 0;
}

#snap-sidebar {
    position: absolute !important;
    display: flex;
    padding-bottom: 10px;
    height: 100%;
    right: 0;
    width: 25%;
    background: white;
}

#sidebar-close-button {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 3px;
}

#snap-contactmap {
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
